 <div class="col-lg-4">
     <div class="sidebar">
         <div class="row">
             <div class="col-lg-12">
                 <div class="sidebar-item search">
                     <form id="search_form" name="gs" method="GET" action="#">
                         <input type="text" name="q" class="searchText" placeholder="type to search..."
                             autocomplete="on">
                     </form>
                 </div>
             </div>


             <div class="col-lg-12">
                 <div class="sidebar-item recent-posts">
                     <div class="sidebar-heading">
                         <h2>Recent Posts</h2>
                     </div>
                     <div class="content">
                         <ul>
                             {% for item in post_latest %}
                             <li><a href="/post/{{item.id}}/{{item.slug}}">
                                     <h5>{{item.title}}</h5>
                                     <span>{{item.created_at|date:"d/m/Y"}}</span>
                                 </a></li>
                             {% endfor %}
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="col-lg-12">
                 <div class="sidebar-item tags">
                     <div class="sidebar-heading">
                         <h2>Categorias</h2>
                     </div>
                     <div class="content">
                         <ul>
                             {% for item in category %}
                             <li><a href="/category/{{item.id}}/{{item.slug}}">{{item}}</a></li>
                             {% endfor %}
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>