 <footer>
     <div class="container">
         <div class="row">
             <div class="col-lg-12">
                 <ul class="social-icons">
                     <li><a href="#">Facebook</a></li>
                     <li><a href="#">Twitter</a></li>
                     <li><a href="#">Behance</a></li>
                     <li><a href="#">Linkedin</a></li>
                     <li><a href="#">Dribbble</a></li>
                 </ul>
             </div>
             <div class="col-lg-12">
                 <div class="copyright-text">
                     <p>Copyright 2020 Stand Blog Co.

                         | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
                 </div>
             </div>
         </div>
     </div>
 </footer>