{% extends 'homebase.html' %}

{% block preloader %} {% include 'preloader.html' %} {% endblock  %}
{% block navbar %} {% include 'navbar.html' %} {% endblock  %}
{% block slide %} {% include 'slide.html' %} {% endblock  %}
<section class="{% block container %} blog-posts {% endblock  %}">
    <div class="container">
        <div class="row">
            {% block content %} {% include 'content.html' %} {% endblock  %}
            {% block aside %} {% include 'aside.html' %} {% endblock  %}
        </div>
    </div>
</section>

{% block footer %} {% include 'footer.html' %} {% endblock  %}