{% extends 'homebase.html' %}

{% block preloader %} {% include 'preloader.html' %} {% endblock  %}
{% block navbar %} {% include 'navbar.html' %} {% endblock  %}
{% block slide %} {% include 'slide.html' %} {% endblock  %}

<section class="{% block container %} blog-posts grid-system {% endblock  %}">
    <div class="container">
        <div class="row">
            {% block content %}
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        {% for item in page_obj %}
                        <div class="col-lg-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{item.image.url}}" alt="">
                                </div>
                                <div class="down-content">
                                    <span>{{item.title}}</span>
                                    <a href="/post/{{item.id}}/{{item.slug}}">
                                        <h4>{{item.subtitle}}</h4>
                                    </a>
                                    <ul class="post-info">
                                        <li><a href="#">{{item.user.first_name}}</a></li>
                                        <li><a href="#">{{item.updated_at|date:"d/ m/ Y"}}</a></li>
                                        <li><a href="#">12 Comments</a></li>
                                    </ul>
                                    <p>{{item.description|safe}}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="#">Best Templates</a>,</li>
                                                    <li><a href="#">TemplateMo</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-lg-12">
                            <ul class="page-numbers">

                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                            class="fa fa-angle-double-left"></i></a></li>
                                {% endif %}

                                <li class="active">{{ page_obj.number }}</li>

                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"><i
                                            class="fa fa-angle-double-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock  %}

            {% block aside %} {% include 'aside.html' %} {% endblock  %}

        </div>
    </div>
</section>

{% block footer %} {% include 'footer.html' %} {% endblock  %}