{% extends 'homebase.html' %}

{% block preloader %} {% include 'preloader.html' %} {% endblock  %}
{% block navbar %} {% include 'navbar.html' %} {% endblock  %}
{% block slide %} {% include 'slide.html' %} {% endblock  %}


<section class="{% block container %} blog-posts grid-system {% endblock  %}">
    <div class="container">
        <div class="row">
            {% block content %}
            <div class="col-lg-12">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{post.image.url}}" alt="">
                                </div>
                                <div class="down-content">
                                    <span>{{post.title}}</span>
                                    <a href="/{{post.id}}/{{post.slug}}">
                                        <h4>{{post.subtitle}}</h4>
                                    </a>
                                    <ul class="post-info">
                                        <li><a href="#">{{post.user.first_name}}</a></li>
                                        <li><a href="#">{{post.updated_at|date:"d / m / Y"}}</a></li>
                                        <li><a href="#">10 Comments</a></li>
                                    </ul>
                                    <div class="blog-thumb">
                                        {{post.text|safe}}
                                    </div>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="#">{{post.category}}</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    <li><a href="#">Facebook</a>,</li>
                                                    <li><a href="#"> Twitter</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2>{{total}} comentários</h2>
                                </div>
                                <div class="content">
                                    {% for item in comments %}
                                    <ul>
                                        <li>
                                            <div class="right-content mt-5">
                                                <h4>{{item.name}}<span>{{item.created_at|date:"d/ m/ Y"}}</span>
                                                </h4>
                                                <p>{{item.comment}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                <div class="content">
                                    <form id="comment" action="/post/addcomment/{{post.id}}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="name" type="text" id="name" placeholder="Your name"
                                                        required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="email" type="text" id="email" placeholder="Your email"
                                                        required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input name="subject" type="text" id="subject"
                                                        placeholder="Subject">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="comment" rows="6" id="message"
                                                        placeholder="Type your comment" required=""></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit"
                                                        class="main-button">Submit</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock  %}
        </div>
    </div>
</section>

{% block footer %} {% include 'footer.html' %} {% endblock  %}